.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header-img {
  width: 100%;
  height: 20vh;
}

img {
  width: 100%;

}

.playerContain {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
}

.player {
  display: flex;
  flex-direction: row;
}

p {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #4d4d4d;
}
